@use './variables.scss' as *;
@use './reset.scss' as *;

.notif {
    display: flex;
    padding: min(4.26vw, 2rem);//1.6rem;
    border-radius: 1rem;
    gap: min(3.73vw, 2rem);
    align-items: flex-start;
    margin-top: 1rem;
    transition: all 500ms;
    cursor: pointer;

    &[data-read="true"] {
        background-color: $white;
    }
    &[data-read="false"] {
        background-color: $very-light-grayish-blue;

        & .notif__text::after {
            content: "";
            display: inline-block;
            background-color: $red;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
        }
    }

    &__image-container {
        flex-shrink: 0;
        width: min(10.6vw, 4.5rem); //4rem;
        height: min(10.6vw, 4.5rem); //4rem;

        &:nth-of-type(2) {
            margin-left: auto;
        }
    }
    &__image {
        cursor: pointer;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }
    &__text > * {
        margin-right: .4ch;
    }
    &__username {
        font-weight: bold;
        font-size: min(3.78vw, 1.62rem); //1.42rem;
        text-decoration: none;
        color: $very-dark-blue;

        &:hover {
            color: $blue;
        }
    }
    &__useraction {
        font-size: min(3.78vw, 1.62rem);
        color: $dark-grayish-blue;
    }
    &__target {
        font-size: min(3.78vw, 1.62rem);
        font-weight: bold;
        color: $dark-grayish-blue;
        text-decoration: none;
        &:hover {
            color: $blue;
        }

        &.--group {
            color: $blue;
        }
    }
    &__date {
        font-size: min(3.78vw, 1.62rem);
        color: $grayish-blue;
    }
    &__p-message {
        border: .1rem solid $grayish-blue;
        border-radius: .5rem;
        padding-block: 2rem;
        padding-inline: min(4.26vw, 2rem);
        margin-top: 1.6rem;
        font-size: min(3.78vw, 1.62rem);
        color: $dark-grayish-blue;

        &:hover {
            background-color: $light-grayish-blue-1;
            cursor: pointer;
        }
    }
}