@use './variables.scss' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    @media(width: 1440px) {
        font-size: 0.7vw;
    }
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: $font;
    background-color: $light-grayish-blue-1;
    color: $very-dark-blue;
}